<html>
<head>
  <meta charset="UTF-8">
</head>
<body>
  <h1>メモ</h1>
  <nav>
    <ul>
      <% @memos.each do |memo| %>
        <% memo = Memo.new(memo) %>
        <li><a href="/<%= memo.title %>"><%= memo.title %></a></li>
      <% end %>
    </ul>
  </nav>
  <nav>
    <ul>
      <li><a href="/new">新規メモ</a></li>
    </ul>
  </nav>
</body>
</html>
