<html>
<head>
  <meta charset="UTF-8">
</head>
<body>
  <h1>新規メモ</h1>
  <form action="create" method="POST">
    <div>
      title:<input type="text" name="title" value="">
    </div>
    <div>
      本文:
      <textarea name="body" rows="5"></textarea>
    </div>
    <div>
      <input type="submit" value="送信する">
    </div>
  </form>
</body>
</html>
